$yellow: #ffce00;
$pink: #fe4880;
$dark: #212121;
$light: #f3f3f3;

@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Jura:wght@300;400;500;600;700&display=swap');
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
    font-family: 'Jura', sans-serif;
    cursor: none;
    overflow-x: hidden;
}

body::-webkit-scrollbar { 
    display: none;
}


.cursor {
    position: fixed;
    //background-color: ;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin: -1rem 0 0 -1rem;
    will-change: transform;
    user-select: none;
    pointer-events: none;
    z-index: 100000;
    //mix-blend-mode: darken;
    border: 0.175rem solid rgb(255, 255, 255);
}

main::-webkit-scrollbar { 
    display: none;
}


main {
    background-image: url(../../images/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    //overflow-y: visible;

    section {
        height: 100%;
        background-image: url(../../images/droplets.svg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: contain;
        display: grid;

        margin: 8rem auto 0 auto;


        h1 {
            font-family: 'Cabin Sketch', cursive;
                font-size: 64px;
                font-weight: 700;
                line-height: 75px;
                letter-spacing: 0em;
                text-align: center;
                color: white;
        }

        //change grid here

          

        
    }
}




img {
    width: 100%;
}
.cards {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 40rem);
    grid-template-rows: repeat(1, auto);


    .card {
        position: relative;
        width: 40rem;
        padding-bottom: 50px;
        background-color: #fff;
        box-shadow: 0 2.1rem 3.5rem rgb(0 0 0/ 0.10);
        border-radius: 0.6rem;
        overflow: hidden;
        transform: scale(0.8);
        

        .text {
            padding: 1.5rem;

            p {
                font-size: 1.6rem;
                line-height: 3rem;
            }

            h2 {
                font-size: 3.2rem;
                margin-bottom: 2rem;
            }

            .more-btn {
                width: 10rem;
                height: 10rem;
                background-color: #ea7f04;
                border-radius: 50%;
                position: absolute;
                bottom: -6rem;
                left: 0;
                right: 0;
                margin: 0 auto;
                text-align: center;
                line-height: 5rem;
                color: #fff;
                cursor: pointer;
                z-index: 9;
                font-size: 2rem;
                transition: all ease 0.5s;
            }

            .more-btn:hover {
                background-color: #f7f7f7;
                color: #ea7f04;
            }
        }

        .more-text {
            position: absolute;
            bottom: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #ff8800;
            padding: 3rem;
            overflow-y: auto;
            transition: all ease 0.7s;

            h2 {
                color: #fff;
                font-size: 3.2rem;
                margin-bottom: 2rem;
            }

            p {
                color: #fff;
                font-size: 1.8rem;
                line-height: 3rem;
                font-weight: 500;
            }
        }
        .more-text::-webkit-scrollbar {
            width: 7px;
            background-color: #b3b3b3;
        }
        .more-text::-webkit-scrollbar-thumb {
            background-color: #c76d06;
        }
        .more-text.active {
            bottom: 0;
        }
    }
}




.hamburger {
    display: none;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100vw;
    height: 5.5rem;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, .10);
    // background-color: hsla(0, 0%, 95.3%, 0.75);
    // box-shadow: 1px 1px 10px 0 rgb(0 0 0 / 5%);

    nav {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0rem 2rem;

        .hamburger {
            display: none;
        }

        .links {
            display: flex;
            gap: 4rem;

            a {
                position: relative;
                font-size: 2rem;
                font-family: 'Jura', sans-serif;
                font-weight: 500;
                text-decoration: none;
                color: white;
                cursor: none;
            }

            a::before {
                content: '';
                position: absolute;
                bottom: -5;
                left: 0;
                width: 0%;
                height: 0.2rem;
                background-color: white;
                transition: all 0.45s;
            }

            a:hover::before {
                width: 100%;
            }
        }
    }
}

@media (max-width: 768px) {
    .hamburger {
        position: fixed;
        top: 0;
        right: 0;
        margin: 3rem;
        height: 4rem;
        width: 3.5rem;
        display: flex;
        flex-flow: column;
        transition: all .45s;
        gap: 0.5rem;
        z-index: 150;
    
        span {
            width: 100%;
            height: 0.3rem;
            background-color: #fff;
            
        }
    }
    
    .hamburger.active span:nth-child(1) {
        transform: rotate(-45deg)
    }
    .hamburger.active span:nth-child(2) {
        transform: rotate(-45deg);
    }
    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg);
    }
    
    header {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        width: 55%;
        transition: all .45s;
        height: 100vh;
        backdrop-filter: blur(8px);
        background-color: rgba(255, 255, 255, .10);
        transform: translateX(500px);
        // background-color: hsla(0, 0%, 95.3%, 0.75);
        // box-shadow: 1px 1px 10px 0 rgb(0 0 0 / 5%);
    
        nav {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            padding: 0rem 2rem;
    
            .links {
                display: flex;
                flex-flow: column;
                gap: 4rem;
    
                a {
                    position: relative;
                    font-size: 2rem;
                    font-family: 'Jura', sans-serif;
                    font-weight: 500;
                    text-decoration: none;
                    color: white;
                    cursor: none;
                }
    
                a::before {
                    content: '';
                    position: absolute;
                    bottom: -5;
                    left: 0;
                    width: 0%;
                    height: 0.2rem;
                    background-color: white;
                    transition: all 0.45s;
                }
    
                a:hover::before {
                    width: 100%;
                }
            }
        }
    }
    
    header.open {
        transform: translateX(0px);
    }
}






footer {
    position: relative;
    width: 100vw;
    height: 5rem;
    background: black;
    display: flex;
    justify-content: space-between;
    //align-items: center;
    flex-flow: row;
    color: white;

    .call {
        position: relative;
        display: flex;
        align-items: center;
        flex-flow: row;
        gap: 1.5rem;
        margin-left: 4rem;

        .line {
            width: .2rem;
            height: 100%;
            background-color: white;
        }

        .phone {
            position: relative;
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: center;
            gap: .5rem;

            h2 {
                font-size: 1.75rem;
                font-family: 'Jura', sans-serif;
                font-weight: 700;
            }

            a {
                position: relative;
                font-size: 1.6rem;
                text-decoration: none;
                appearance: none;
                color: white;
            }

            a::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 0.2rem;
                background-color: white;
            }
        }
    }

    .socials {
        height: 5rem;
        position: relative;
        display: flex;
        align-items: center;
        margin-right: 4rem;
        padding: .25rem;
        gap: 3rem;

        div {
            height: 100%;
            display: flex;
            align-items: center;

            img {
                height: 3.25rem;
            }
        }
    }

    
}

@media (max-width: 768px) {

    footer {
        gap: 5rem;
        .call {
            margin-left: 2rem;
            .phone {
                gap: 0rem;
                h2 {
                    font-size: 1.5rem;
                }
                a {
                    font-size: 1.5rem;
                }

                a::after {
                    height: 0.1rem;
                }
            }
        }
    }
    
}



svg {
    position: absolute;
    top: 0;
    left: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;

    .c {
        animation: float 6s ease-in-out infinite;
    }

    @keyframes float {
        0% {
            
            transform: translatey(0px);
        }
        50% {
            
            transform: translatey(-20px);
        }
        100% {
            
            transform: translatey(0px);
        }
    }
}

@media (max-width: 768px) {
    svg {
        height: 100vh;
        width: auto;
    }
}